<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>

    <table border = "1">
        <thead>
            <tr>
                <th>Número</th>
                <th>Prazo</th>
                <th>Cliente</th>
                <th>Vendedor</th>
            </tr>
        </thead>

        <tbody id="tabela-corpo">

        </tbody>        
        <tfoot id = "tabela-rodape">
            
        </tfoot>
    
    </table>
</body>
</html>