<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>

    <table border = "1">
        <thead>
            <tr>
                <th>Número</th>
                <th>Prazo</th>
                <th>Cliente</th>
                <th>Vendedor</th>
            </tr>
        </thead>

        <tbody id="tabela-corpo">
            <tr>
            <th><a>1111</a></th>
            <td>10</td>
            <td>1000</td>
            <td>11</td>
            <!-- para incluir botão remover --> 
            <td>
            </td>
            </tr>

        </tbody>        
        <tfoot id = "tabela-rodape">
            <tr>
                <th scope= "row" colspan= "3">Pedidos</th>
                <td>0</td>
            </tr>
        </tfoot>
    
    </table>

    <script>
        document.getElementById("deleteForm").addEventListener("submit", function(e){
            e.preventDefault() //evitar o envio normal, pois vou tratar abaixo
            
            const codigo = this.codigo.value

            fetch(`./pedido/${codigo}`, {method: "DELETE"})
                .then(res => {if(res.ok){alert("Pedido removido com sucesso!")
                                window.location.reload(true)}
                        else{alert("Erro ao remover")}})
                .catch(err => console.error(err))            
        })
    </script>

</body>
</html>
